<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ page.title }} | {{ site.title }}</title>
	
	
	{% if page.keywords %}
 	<meta name="keywords" content="{{ page.keywords }}" />
 	{% else %}
	<meta name="keywords" content="technology, running, ukulele, music, security, programming, hacking, humor, veganism" />
	{% endif %}

	<meta content="{{ page.title }}"  property="og:title"/>
	<meta content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% endif %}" property="og:description" />
	<meta content="article" property="og:type"  />
	<meta content="https://www.facebook.com/andreafortuna"  property="article:author" />
	<meta content="http://www.andreafortuna.org{{ page.url | replace:'index.html','' }}/" property="og:url" />
	<meta content="{{ site.title }}" property="og:site_name" />



	{% if page.date %}
	<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time" >
	{% endif %}
	{% if page.thumbnail %}
	<meta content="{{ page.thumbnail }}" property="og:image"  />
	{% endif %}

    <meta property="fb:admins" content="587368687" />
    <meta property="fb:app_id" content="461819973910856" /> 


	<meta name="author" content="{{ site.author.name }}">
	<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% endif %}" />
	<meta name="google-site-verification" content="DecfzkGZRRNdC0sC_2oYaK94hP7W4nEtg1k6Oefxiw4" />
	<link href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
	<link href='{{ ASSET_PATH }}/css/style.css' rel="stylesheet" media="all">
	<link href="//feeds.feedburner.com/{{ site.author.feedburner }}" rel="alternate" title="{{ page.title }}" type="application/atom+xml">
	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script> -->
	
</head>
<body>


<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4de95b4a2d2c8982" async="async"></script>

<!-- cookies warning -->
<script src="{{ ASSET_PATH }}/scripts/cookiechoices.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function(event) {
    cookieChoices.showCookieConsentBar('We use cookies to improve your browsing experience. By continuing to use our website you agree to our use of such cookies.',
      'Accept', 'Find out more', '/privacy.html');
  });
</script>
<!-- cookies warning end -->

<div id="page" class="hentry">
	<header class="the-header">
		<div class="unit-head">
			<div class="unit-inner unit-head-inner">
				<p class="logo"><a href="{{ HOME_PATH }}">{{ site.title }}</a></p>
				<nav class="nav-global">
					<ul>
						<li class="archive"><a href="/about/">about</a></li>
						<li class="archive"><a href="/technology/">technology</a></li>
						<li class="archive"><a href="/ukulele/">ukulele</a></li>
						<li class="archive"><a href="/running/">running</a></li>
						<li class="archive"><a href="/weeklyroundup/">roundup</a></li>
					</ul>
				</nav>
				
				
			</div><!-- unit-inner -->
		</div><!-- unit-head -->
	</header>
	<hr>
	<div class="body" role="main">
		<div class="unit-body">
			<div class="unit-inner unit-body-inner">
				<div class="entry-content">
					{{ content }}
				</div>
			</div><!-- unit-inner -->
		</div><!-- unit-body -->
	</div><!-- body -->
	<footer class="the-footer">
		<div class="unit-foot">
			<div class="unit-inner unit-foot-inner">
				
				
				<div class="misc vcard">
					
						
				<div style="float:left;">
					<h4>ABOUT</h4>
					<ul style="list-style-type: none;">
						<li class="contact"><i class="fa fa-envelope"></i>&nbsp;{{ site.author.email }}</li>
						<li class="github"><i class="fa fa-github"></i>&nbsp;<a href="http://github.com/{{ site.author.github }}/" rel="me">github.com/{{ site.author.github }}</a></li>
						<li class="linkedin"><i class="fa fa-linkedin"></i>&nbsp;<a href="http://it.linkedin.com/in/andreafortuna/" rel="me">linkedin.com/in/andreafortuna/</a></li>
						<li class="facebook"><i class="fa fa-facebook"></i>&nbsp;<a href="https://www.facebook.com/andreafortuna" rel="me">facebook.com/andreafortuna</a></li>
						<li class="twitter"><i class="fa fa-twitter"></i>&nbsp;<a href="http://twitter.com/{{ site.author.twitter }}/" rel="me">twitter.com/{{ site.author.twitter }}</a></li>
						<li class="youtube"><i class="fa fa-youtube"></i>&nbsp;<a href="https://www.youtube.com/user/andreafortuna" rel="me">youtube.com/user/andreafortuna</a></li>
						<li class="instagram"><i class="fa fa-instagram"></i>&nbsp;<a href="http://instagram.com/andrea_fortuna" rel="me">instagram.com/andrea_fortuna</a></li>
						<li class="soundcloud"><i class="fa fa-soundcloud"></i>&nbsp;<a href="https://soundcloud.com/andreafortuna" rel="me">soundcloud.com/andreafortuna</a></li>
						<li class="rss"><i class="fa fa-rss"></i>&nbsp;<a href="http://feeds.feedburner.com/{{ site.author.feedburner }}">Subscribe to RSS Feed</a></li>
					</ul>
					
						<p class="licence" style="font-size:0.8em;">
					Theme: <strong>Andy's Theme</strong> based on <a href="http://jekyllbootstrap.com/">Jekyll-bootstrap</a>.<br>
					Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a>.
					
					
				</p>
					
				</div>
				<div style="float:right;">
					
					<h4>SEARCH</h4>
					
						<form action="http://www.google.com" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="partner-pub-3112565434711919:6987192105" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="18" />
    <input type="submit" name="sa" value="Search" />
  </div>
</form>

<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>

						
						
						<br/><br/>
						
						
<ul style="list-style-type: none;">
<li class="archive"><a href="/portfolio/">Portfolio</a></li>
<li class="archive"><a href="/privacy/">Privacy Policy</a></li>
<li class="archive"><a href="/archive/">Archives</a></li>
<li class="archive"><a href="/tags/">Tags</a></li>
<li class="archive"><a href="http://radar.andreafortuna.org">Radar</a></li>
<li class="archive"><a href="/oldstuff/">Old Stuff</a></li>
</ul>
				</div>
				
					
				</div><!-- misc -->
			
			</div><!-- unit-foot-inner -->
		</div><!-- unit-foot -->
	</footer>
</div><!-- page -->


  {% include JB/analytics %}
 
 

</body>
</html>
